
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2" style="margin-left: 25%">Classes</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <a href="/admin/class-create" class="btn btn-sm btn-outline-secondary">Add Class</a>
    </div>
  </div>
</div>
<div>

  <table class="table table-sm" style="margin-left: 25%; width: 70%">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Batch</th>
      <th scope="col">Section</th>
      <th scope="col">Adviser</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {{#each classes}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.batch}}</td>
      <td>{{this.section}}</td>
      <td>{{this.adviser_first_name}} {{this.adviser_last_name}}</td>
      <td><a href='/admin/class/{{this.id}}'>view</a></td>
    </tr>
    {{/each}}
  </tbody>
</table>
</div>

    </main>

 <!--   Core JS Files   -->
  <script src="../js/core/jquery.min.js"></script>
  <script src="../js/core/popper.min.js"></script>
  <script src="../js/core/bootstrap.min.js"></script>
  <script src="../js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chart JS -->
  <script src="../js/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="../js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../js/now-ui-dashboard.min.js?v=1.2.0" type="text/javascript"></script>
  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts();

    });
  </script>