<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Set Comments</h1>
</div>
<div>
  <h2 class='h3'>Thesis Name: {{data.title}}</h2>
  <h2 class='h4'>Defense ID: {{data.id}}</h2>
  <h2 class='h4'>Abstract: {{data.abstract}}</h2>
  <h2 class='h4'>Group Number: {{data.group_id}}</h2>
  <h2 class='h4'>Schedule: {{data.schedule}}</h2>
</div>

<div>
  <div class='row'>
    <div class='col-md-8'>
      <form class="needs-validation" novalidate="" action="/admin/{{defense_type}}/comments/{{data.id}}/add-comments" method="POST">
        <div class="mb-3">
          <label for="comment">Comment</label>
          <textarea rows="4" class="form-control" id="comment" value="" required="" name="comment"></textarea>
        </div>
        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Add</button>
      </form>
    </div>
  </div>
</div>