<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Methods of Research Defense Details</h1>
</div>
<div>
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">Thesis ID</th>
        <th scope="col">Title</th>
        <th scope="col">Abstract</th>
        <th scope="col">Group #</th>
        <th scope="col">Year</th>
        <th scope="col">Schedule</th>
      </tr>
    </thead>
    <tbody>
      {{#each mor}}
      <tr>
        <td>{{this.id}}</td>
        <th scope="row">{{this.title}}</th>
        <td>{{this.abstract}}</td>
        <td>{{this.group_id}}</td>
        <td>{{this.year}}</td>
        <td>{{this.schedule}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
