<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2" style="margin-left: 25%;">Set Comments</h1>
</div>
<div>
  <h2 class='h3' style="margin-left: 25%;">Thesis Name: {{data.title}}</h2>
  <p style="margin-left: 25%;">Defense ID: {{data.id}}</p>
  <p style="margin-left: 25%;">Abstract: {{data.abstract}}</p>
  <p style="margin-left: 25%;">Group Number: {{data.group_id}}</p>
  <p style="margin-left: 25%;">Schedule: {{data.schedule}}</p>
</div>

<div>
  <div class='row'>
    <div class='col-md-8'>
      <form class="needs-validation" novalidate="" action="/faculty/{{defense_type}}/comments/{{data.id}}/add-comments" method="POST" style="margin-left: 25%;">
        <div class="mb-3">
          <label for="comment">Comment</label>
          <textarea rows="4" class="form-control" id="comment" value="" required="" name="comment"></textarea>
        </div>
        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Add</button>
      </form>
    </div>
  </div>
</div>