<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2" style="margin-left: 25%;">Home</h1>
</div>
<div>
  <h2 class='h3' style="margin-left: 25%;">Name: {{first_name}} {{last_name}}</h2>
  <p style="margin-left: 25%;">Class: {{user.batch}}-{{user.section}}</p>
  <p style="margin-left: 25%;">Adviser: {{user.adviser_fname}} {{user.adviser_lname}}</p>
  <p style="margin-left: 25%;">Group Number: {{groupId}}</p>
  <p style="margin-left: 25%;">Group Name: {{groupName}}</p>
  <h2 class='h4' style="margin-left: 25%;">Group Members </h2>
  <table class="table table-sm" style="margin-left: 25%; width: 70%">
  <thead>
    <tr>
      <th scope="col">Student Number</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
    </tr>
  </thead>
  <tbody>
    {{#each group_members}}
    <tr>
      <th scope="row">{{this.student_number}}</th>
      <td>{{this.first_name}} {{this.last_name}}</td>
      <td>{{this.email}}</td>
      <td>{{this.phone}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
  
  
</div>