<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Home</h1>
</div>
<div>
  <h5>Name: {{user.first_name}} {{user.last_name}}</h5>
  <h5>Class: {{user.batch}}-{{user.section}}</h5>
  <h5>Adviser: {{user.adviser_fname}} {{user.adviser_lname}}</h5>
</div>
